<div id="chatTopBar" class="row">
	<div class="search">
		<input type="text" placeholder="search people...">
	</div>
	<div class="user-info">
		<img src="" alt="">
		<div class="name">
			{{user.username}}
		</div>
		<span class="arrow"></span>
	</div>
</div>