<div class="sidePanel">
	<div class="heading">
		Inbox
	</div>
	<hr>
	<div class="user">
		<ul>
			<li>
				<div class="online"></div>
				<img src="/img/testAvatar.png" alt="">
				<div class="msgWrapper">									
					<div class="name">John Bellion</div>
					<div class="lastMsg">small discription about last..</div>
				</div>
			</li>
			<li>
				<div class="online"></div>
				<img src="/img/testAvatar.png" alt="">
				<div class="msgWrapper">									
					<div class="name">John Bellion</div>
					<div class="lastMsg">small discription about last..</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
	<div class="about">
		<ul>
			<li>about</li>
			<li>help</li>
			<li>contact</li>
		</ul>
	</div>
</div>