<div class="sidePanel">
	<div class="heading">
		Inbox
	</div>
	<hr>
	<div class="online">
		<ul>
			<li>
				<img src="" alt="">
				<div class="name">Online user</div>
				<div class="lastMsg">small discription</div>
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
	<div class="about">
		<ul>
			<li>about</li>
			<li>help</li>
			<li>contact</li>
		</ul>
		<div>Copyright enigma 2017</div>
	</div>
</div>